.meal {
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
	background: linear-gradient(90deg, #2c1e19, #25200f);
}

.headerText h2 {
	font-family: 'Montserrat', sans-serif;
}

.summary {
	padding: 1rem 1rem 0 1rem;
}

.actions a {
	background: linear-gradient(90deg, #f9572a, #ff9b05);
}

.actions a:hover,
.actions a:active {
	background: linear-gradient(90deg, #fd4715, #f9b241);
	box-shadow: 0 0 12px rgba(242, 100, 18, 0.8);
}
