.header h1 {
	font-family: 'Montserrat', sans-serif;
}

.highlight {
	background: linear-gradient(90deg, #f9572a, #ff8a05);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.main h2 {
	font-family: 'Montserrat', sans-serif;
}

.perks p {
	font-family: 'Montserrat', sans-serif;
}
